:root{
    background-image: url('../img/bgToDo.jpg');
    background-size: auto;

}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--pColor);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, cursive;
}

.container{
    max-width: 900px;
    margin: 50px auto;
    background: rgb(197, 219, 231);
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
}

.btn-tarefa{
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 7px; /* Some padding */
    border-radius: 5%;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}